/* theme couleur root-me */
/*
dark-grey = gris formulaire (presque noir)
grey = police pour paragraphe
 */
 
:root {
    --dark-grey: #4d4d4d;
    --grey: #767676;
    --black: #000;
    --white: #fff;
    --blue: #2ba6cb;
    --red: ##de2b0f;
    --green:#0C0;
    --orange:#de770f;
}