/* thème couleurs tiré de root-me + couleurs perso */
:root {
  --dark-grey: #4d4d4d;
  --grey: #767676;
  --night-grey: #191C22;
  --night-grey-hovered: #2a2f38;
  --black: #000;
  --white: #fff;
  --off-white-: #a5a5a5;
  --blue: #2ba6cb;
  --red: #de2b0f;
  --green: #0C0;
  --orange: #de770f;
  --pink: #ec51ec;
  --yellow: #fff800;
}


/* démarque le nom de l'user co parmis les autres */
.user-actif {
  color: var(--pink);
}

.errors {
  color: red;
}

/* ------------------------------ titres ------------------------------ */

/* icon 48x48 px + titre en bleu (classement, questionnaire) */
.big-title {
  display: flex;
  align-items: end;
  font-weight: 500;
  color: var(--blue);
}

.room-widget {
  background: linear-gradient(-45deg,
      rgba(59, 173, 227, 1) 10%,
      rgba(87, 111, 230, 1) 25%,
      rgba(152, 68, 183, 1) 51%,
      rgba(255, 53, 127, 1) 90%);
  animation: AnimateBG 10s ease infinite;
  background-size: 200% 200%;
  height: 100vh;

  background-attachment: fixed;
  
}

/*---annimation effect case site---------*/
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}