{% extends 'base.jinja' %}


{% block title %}
Classement - Root Me
{% endblock %}

{% block content %}
<main class="container bg-black pt-5">
    <div class="container-index">

        {# partie gauche / classement #}
        <!-- on affiche que 3 users dans CE classement et l'user concerné est TOUJOURS au milieu -->
        <div class="classement col">
            <div class="classement-header">
                <h1 class="big-title">
                    <img class="img-classement" src="/static/img/podium.svg"
                        alt="logo de le section challenges réussis">
                    <span>&nbsp;Classement</span>
                </h1>
                <span>{{nbr_user}} utilisateurs</span><!-- enlever le comtpe admin du compte ? -->
            </div>
            <hr>

            <table class="table-classement-profile">
                <!-- HEADER TABLE-->
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Avatar</th> <!-- vraiment utile ???????? -->
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>

                <!-- BODY TABLE-->
                <tbody>
                    {% for user in user %}
                    {% if user.id == current_user.id %}
                    <tr class="active-row">
                        <th># {{ loop.index }}</th>
                        <td><img class="img-avatar-classement"></td> <!-- a voir -->
                        <td class="username-classement-style">
                            <a href="#">{{user.username|e}}</a>
                        </td>
                        <td class="td-score">{{user.score|e}}
                    </tr>
                    {% else %}
                    <tr class="lambda-row">
                        <th># {{ loop.index }}</th>
                        <td><img class="img-avatar-classement"></td> <!-- a voir -->
                        <td class="username-classement-style">
                            <a href="#">{{user.username|e}}</a>
                        </td>
                        <td class="td-score">{{user.score|e}}
                    </tr>
                    {% endif %}
                    {% endfor%}
                </tbody>
            </table>
        </div>

        {# test liste user db score ... #}
        <div class="text-light pt-4">
            <p>id - username - email - score</p>
            {% for user in user%}
            <p>{{user.id}} - {{user.username}} - {{user.email}} - {{user.score}}</p>

            {% endfor%}
            {# nombre total d'utilisateur #}
            <p>nbr total d'user : {{nbr_user}}</p>
        </div>
        {# fin test #}
    </div>



    {% endblock %}