{% extends 'base.jinja' %}

{% block title %}
{{ super() }} - Room 2
{% endblock %}

{% block content %}
<main>
    <div class="row" style="max-width:100%">
        <div class="col-sm-5">
            <div class="index-left-part col text-center">
                <img src="/static/img/logo_rootme.svg" alt="logo Root Me" class="logo-rootme-large">
                <h1 class="text-white fs-2 fw-normal">QCM
                </h1>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="container ">
                <iframe class="responsive-iframe " style="width: 100% height: 100%;"
                    src="http://raspberrypi:6080/vnc.html?host=172.17.50.249&port=6080&autoconnect=true&resize=scale"></iframe>

            </div>

        </div>
    </div>

</main>
{% endblock %}