{% macro question_widget(question, disabled=false, solved=false) -%}
<div class="p-2">
    <!-- si la question est résolu, ajouter une bordure verte -->
    <div class="p-3 bg-light rounded-3 text-black {{'border border-success border-5' if solved else ''}}"
        id="question_block-{{question.id}}">
        {{ question.prompt | markdown }} ({{ question.points }} points)
        <div class="mb-3">
            <form action="#" onsubmit="answerQuestion({{question.id}});return true;" id="question_form-{{question.id}}">
                <input class="form-control border-0" type="text"
                    placeholder="{{question.answer if solved else 'Réponse'}}" aria-label="input example"
                    id="question_answer-{{question.id}}" required="required" autocomplete="off" {{ 'disabled' if
                    disabled else '' }}>
                <button type="submit" class="btn rounded-1 border-2 active text-info fw-semibold m-2" role="button"
                    {{ 'disabled' if disabled else '' }}>Valider</button>
            </form>
        </div>
    </div>
</div>
{% endmacro %}