{% macro room_widget(name, description, template_name, size=6) -%}
<div class="col-md-{{size}} p-3">
    <div class="background_effect h-100 p-5 bg-light rounded-3  text-black">
        <h2>{{name|e}}</h2>
        <p>{{description|markdown}}</p>
        <a href="/room/{{template_name}}" class="btn rounded-1 border-2 active text-info fw-semibold px-4 py-2 mt-5"
            role="button">Lancer</a>
    </div>
</div>
{%- endmacro %}