{% extends 'base.jinja' %}

{% block title %}
{{ super() }} - {% block error_name %}Error{% endblock%}
{% endblock %}

{% block content %}
<h1 class="text-white fs-1 fw-bold text-center">Oops!</h1>
<h3 class="text-white fs-3 fw-bold text-center">{% block error_description %}Erreur {{status_code}}{% endblock %}</h3>

<div class="col-md-12 text-center">
    <a href="/" class="btn rounded-1 border-2 active text-info fw-semibold px-4 py-2 my-5" role="button">Accueil</a>
</div>
{% endblock %}