/* theme couleur root-me */
/*
dark-grey = gris formulaire (presque noir)
grey = police pour paragraphe
 */

:root {
  --dark-grey: #4d4d4d;
  --grey: #767676;
  --night-grey: #191C22;
  --night-grey-hovered: #2a2f38;
  --black: #000;
  --white: #fff;
  --off-white-: #a5a5a5;
  --blue: #2ba6cb;
  --red: #de2b0f;
  --green: #0C0;
  --orange: #de770f;
  --pink: #ec51ec;
  --yellow: #fff800;
}

/* padding droite 10 px */
.nom-utilisateur {
  padding-right: 10px;
  color: var(--white);
  text-decoration: underline;
}

.errors {
  color: red;
}


/* ------------------------------ titres ------------------------------ */

/* icon 48x48 px + titre en bleu (classement, questionnaire) */
.big-title {
  display: flex;
  align-items: end;
  font-weight: 500;
  color: var(--blue);
}



/* ------------------------------ header ------------------------------ */

/* inverse la couleur du logo rootme normalement noir vers blanc */
.logo-rootme {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 48px;
  height: 48px;
}

/* root-me logo plus gros pour accueil par exemple */
.logo-rootme-large {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 150px;
  height: 150px;
}

/* nom de site avec font spéciale */
.site-name {
  /* min-width: 45px;
  width: 62px;
  height: 100%;  */
  line-height: 62px;
  padding-left: 7px;
  font-family: 'logo';
  font-size: 40px;
}

/* boutton en forme d'ecole, accès root me PRO/lycée branly */
.a-rootme-pro {
  padding-left: 15px;
  padding-right: 15px;
}

.logo-rootme-pro {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 32px;
  height: 32px;
}

.login-description {
  color: white;
}


/* --------------- header user connecté --------------- */

/* gère background de l'avatar utilisateur (par défaut transparent) */
.avatar-user {
  background-color: var(--dark-grey);
  border: solid 1px var(--green);
  width: 36px;
  height: 36px;
  transition-property: all;
  transition-duration: 700ms;
}

/* quand icon user est survolé --> agrandir, bg, animation... */
.avatar-user:hover {
  background-color: var(--night-grey);
  width: 38px;
  height: 38px;
}

/* curseur cliquable pour défilement */
.curseur-avatar::after {
  color: var(--dark-grey);
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-bottom: 0;
  border-left: 0.35em solid transparent;
}

/* cible/englobe la liste qui défile une fois le curseur cliqué */
ul.dropdown-content {
  background-color: var(--night-grey);
  border-radius: 3px;
}

/* touche à chaque item/element de la liste défilante */
li a.dropdown-item {
  color: var(--white);
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  transition: all;
  transition-duration: 700ms;
}

/* gere icon du défilement profile user */
.dropdown-item>img {
  width: 28px;
  height: 28px;
  margin-left: 20px;
}

/* quand element dropdown liste est survolé */
li a.dropdown-item:hover {
  color: var(--white);
  background-color: var(--night-grey-hovered);
}


.dropdown-icon {
  padding-right: 1.5rem;
  background: url('./static/img/avatar.png') right center no-repeat;
  background-size: contain;
}


/* --------------- connexion --------------- */

/* cible l'élément "Identifiants personnels" */
.login-description {
  color: var(--white);
}

/* censé changer la couleur arriere plan de l'input quand focus */
/* .input-login-username:focus,
.input-login-password:focus {
  background: #181818;
} */

/* test animation hover + input connexion form */
/* .btn-valider:hover {
  background-color: #161a1d;
  transition: background-color 500ms ease-out 100ms
} */



/* --------------- page profile user --------------- */

/* bar de profile avec avatar score, challenges, son rang (dans le classement)  */
.main-profile-bar {
  padding: 10px;
  background-color: var(--night-grey);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 40px;
}

/* aligne horizontalement pdp + pseudo + pays */
.div-pseudo {
  display: flex;
  align-items: center;
  padding-right: 100px;
}

/* photo de profil user */
.avatar-profile {
  width: 92px;
  height: 92px;
  margin-right: 10px;
  background-color: var(--night-grey);
  border: solid 1px var(--blue);
  border-radius: 25%;
  transition-property: all;
  transition-duration: 500ms;
}

.avatar-profile:hover {
  background-color: var(--night-grey-hovered);
  border-color: var(--green);
  padding: 2px;
}

/* style du nom d'utilisateur */
.username-profile {
  color: var(--blue);
  font-weight: 400;
}

/* style du drapeaux à droite de l'username*/
.country-profile {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border-radius: 50%;
}

/* englobe les 3 sections statistiques */
.div-statistiques {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sous-div-stat {
  display: grid;
  gap: 0;
}

/* gère les 3 icons de la section statistique */
.icon-stat {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/*  */
.variable-stat {
  font-size: 24px;
  grid-column: 1/2;
  grid-row: 1;
  color: var(--blue);
}


/* partie variable (classement, nbr de points, challenges résolus) */
.title-stat {
  font-size: 20px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2;
}


/* --------------- rankings & clasement profil --------------- */

/* cible la div entiere des rooms lancées + classement */
.second-part-profile {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--night-grey);
}

/* titre rooms lancées + classement (profile) */
.title-sous-section {
  color: var(--blue);
  font-weight: 400;
}

/* touche aux icon de room et classement */
.icon-second-part-profile {
  width: 32px;
  height: 32px;
}

/* ------------------ sous section ------------------ */
.sous-section {
  /* margin-left: 10px; */
  padding: 10px;
  border: solid 1px var(--dark-grey);
  border-radius: 4px;
  background-color: var(--night-grey);
}

/* ------------------ rooms partipées ------------------ */
/* .rooms {} */

.rooms hr {
  color: var(--yellow);
  border: solid 1px;
}

/* div concernat une room (à répéter en html) */
.room-launched {
  text-decoration: none;
  display: grid;
  grid-template-columns: 265px 265px 70px;
  border: solid 1px var(--grey);
  border-radius: 4px;
  background-color: var(--night-grey);
  padding-left: 10px;
  margin-bottom: 30px;
  transition-property: all;
  transition-duration: 700ms;
}

.room-launched:hover {
  background-color: var(--night-grey-hovered);
  border-color: var(--green);
}

/* touche au nom/titre de la room lancé */
.room-title {
  color: var(--blue);
  font-weight: 400;
  font-size: 22px;
  padding: 5px;
  padding-right: 0;
  grid-column: 1 /4;
  grid-row: 1;

}

/* container icon room lancée */
.img-room {
  grid-column: 3;
  grid-row: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* img représentant la room lancée */
.img-room img {
  text-align: center;
  width: 64px;
  height: 64px;
}

/* affichage points tt room + points actuels du joueurs sur la room */
.point-progression-room {
  grid-column: 1;
  grid-row: 2;
  padding: 5px;
  padding-right: 0;
  color: var(--white);
}


/* ------------------ ranking / classement ------------------ */
/* catégorie classement */
.ranking {
  margin-left: 15px;
}

/* enleve le soulignement lien */
.ranking a {
  text-decoration: none;
}

/* touche l'entièretée de la table */
.table-classement-profile {
  width: 100%;
  color: var(--white);
  text-align: center;
}

/* header de la table */
.table-classement-profile thead {
  color: var(--off-white);
}

/* img de l'avatar du joueur dans le classement */
.img-avatar-classement {
  width: 25px;
  height: 25px;
}

/* style de username classement */
.username-classement-style {
  color: var(--green);
}

/* affichage colonne score du classement en bleu */
.td-score {
  font-weight: 600;
  color: var(--blue);
}

/* ligne concernant l'user connecté */
.active-row {
  background-color: var(--night-grey-hovered);
  color: var(--pink);
  font-weight: 500;
  transition-property: all;
  transition-duration: 700ms;
}

/* ligne tableau username connecté survolé */
.active-row:hover {
  background-color: #292c30;
  font-weight: 600;
}

/* formate les liens comme on veut dans la ligne d'user co */
.active-row a {
  color: var(--pink);
  text-decoration: none;
}

/* idem que au dessus mais avec colonne score */
.active-row .td-score {
  color: var(--pink);
}


/* style des lignes des user concurrents */
.lambda-row {
  transition: all;
  transition-duration: 700ms;
}

/* pas de soulignemen aux liens des pseudo */
.lambda-row a {
  color: var(--green);
  text-decoration: none;
}

/* style des lignes des user concurrents survolés*/
.lambda-row:hover {
  background-color: #3c414a;
}


/* ----------------------------- classement ------------------------- */
/* div classement */
.classement {
  /* margin-left: 15px; */
  padding: 15px;
  border: solid 1px var(--dark-grey);
  border-radius: 4px;
  background-color: var(--night-grey);

}

/* titre classement bleu */
/* .title-classement {
  display: flex;
  align-items: end;
  font-weight: 500;
  color: var(--blue);
} */

/* lignes différentes 1 fois sur 2 tableau*/
.classement tr:nth-child(even) {
  background-color: #222730;
}

.classement tr:nth-child(even):hover {
  background-color: #3c414a;
}

/* img illustre classement */
.img-classement {
  width: 48px;
  height: 48px;
}

.classement-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: var(--off-white-);
  font-weight: 500;
}


/* ------------------------------ footer ------------------------------ */

/* largeur des img des icones twitter linkedin rss et discord */
footer>ul>li>a>img {
  width: 24px;
  height: 24px;
}

footer>ul>li>a:hover {
  opacity: 75%;
  transition: opacity 200ms ease-out 100ms;
}


/* --------------- font --------------- */

/* font logo "Root Me" avec files au-dessus */
@font-face {
  font-family: "logo";
  src: local("logo"),
    url("../font/HangingLetters.woff") format("woff");
}


/* --------------- @media / responsive --------------- */

/* gere le responsive de l'acceuil, quand trop etroit on empile on lieu d'aligner */
@media only screen and (max-width: 1024px) {
  .container-index {
    flex-direction: column;
  }

  #modalSignin {
    margin-top: 40px;
  }
}

/* affiche plus le nom du site "Root Me" avec la font spécial si trop étroit */
@media only screen and (max-width: 40.063em) {
  .site-name {
    color: white;
    display: none !important;
  }
}

/* responsive page profile bar user */
@media only screen and (max-width: 770px) {

  /* partie droite */
  /* aligne les élements normalement à droite (ici au dessus) */
  div .main-infos-profil-responsive {
    display: flex;
    padding-bottom: 10px;
  }

  /* re touche a la pdp de l'user connecté */
  .main-infos-profil-responsive .avatar-profile {
    width: 64px;
    height: 64px;
    margin-right: 15px;
  }

  /* touche au h1 pour l'username */
  .main-infos-profil-responsive .username-profile {
    font-size: 40px;
  }

  /* drapeaux pays */
  .main-infos-profil-responsive .country-profile {
    width: 24px;
    margin-left: 15px;
    width: 24px;
  }

  /* partie gauche */
  /* re organise l'espace entre les sections */
  .stats-profile-bar-responsive {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: solid 1px var(--dark-grey);

  }

  /* h3 --> position / points/ challenges */
  .title-stat {
    font-size: 18px;
    /* text-align: start; */
  }
}

/* ------------------------------------ jghjk njgn ji ---------------------------- */
@media only screen and (max-width: 580px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main-profil-bar {
    background-color: #C8FFC8;
    /* margin-bottom: 30px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px; */
  }
}

/* ------------------------------------ jghjk njgn ji ---------------------------- */


/* responsive page profile classement */
@media only screen and (max-width: 1024px) {
  div.ranking {
    margin-left: 0;
    margin-top: 30px;
  }
}




.container {
  position: relative;
  overflow: hidden;
  width: 100%;

  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 670px;
}





.background_effect {

  width: 100%;
  height: 100vh;

  background-size: 300% 300%;
  background-image: linear-gradient(-45deg,
      rgba(59, 173, 227, 1) 10%,
      rgba(87, 111, 230, 1) 25%,
      rgba(152, 68, 183, 1) 51%,
      rgba(255, 53, 127, 1) 90%);
  animation: AnimateBG 10s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/*checkbox custom*/
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: green !important;
}

.custom-checkbox .custom-control-input:checked:focus~.custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
}

.custom-checkbox .custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-checkbox .custom-control-input:active~.custom-control-label::before {
  background-color: #C8FFC8;
}