{% extends 'base.jinja' %}
{# recup url du site #}
{# {{ url_for(request.endpoint) }} #}
{% from 'macros/_acceuil.jinja' import room_widget with context %}

{% block title %}
{{ super() }} - Accueil
{% endblock %}

{% block content %}

{% if config.ENABLE_ANIMATED_BACKGROUND %}
<ul class="background">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
{% endif %}

<main class="container pt-5 pb-3">
  <div class="container-index row">
    <!-- partie gauche avec logo + texte -->
    <div class="index-left-part col text-center pb-5">
      <img src="{{config.APP_LOGO}}" alt="logo" class="logo-large">
      <h1 class="text-white fs-2 fw-normal">Une plateforme rapide, accessible et réaliste pour tester vos compétences en
        hacking.
      </h1>
      <h3 class="text-info fs-3 fw-normal m-0">la root est longue mais la voie est Libre</h3>
    </div>

    <!-- partie droite avec formulaire d'inscription -->
    {% if not current_user.is_authenticated %}
    <div class="index-right-part modal modal-signin position-static d-block col" tabindex="-1" role="dialog"
      id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-2 bg-dark" id="signup-form">
          <div class="modal-header px-4 pb-0 border-bottom-0">
            <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
            <h1 class="text-white">
              &nbsp;S'inscrire
            </h1>
          </div>

          <div class="modal-body p-5 px-4 pt-0">

            <form method="POST" action="{{ url_for('main.inscription') }}">
              {# Token CSRF #}
              {{ signup_form.csrf_token }}

              <!-- NOM UTILISATEUR / PSEUDO -->
              <div class="mb-3 col-12">
                <label for="username"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.username.label}}</label>
                {{ signup_form.username(class_="input-login-username form-control text-white bg-black rounded-2 p-1 ps-3
                border border-1 border-info-subtle") }}
              </div>

              <!-- Email -->
              <div class="mb-3 col-12">
                <label for="email"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.email.label}}</label>
                {{ signup_form.email(class_="input-login-username form-control text-white bg-black rounded-2 p-1 ps-3
                border border-1 border-info-subtle") }}
              </div>

              <!-- PASSWORD -->
              <div class="mb-3 col-12">
                <label for="password"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.password.label}}</label>
                {{ signup_form.password(class_="input-login-password form-control text-white bg-black rounded-2 p-1 ps-3
                border border-1 border-info-subtle") }}
              </div>

              <!-- PASSWORD CONFIRMATION -->
              <div class="mb-3 col-12">
                <label for="password"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.password_confirmation.label}}</label>
                {{ signup_form.password_confirmation(class_="input-login-password form-control text-white bg-black
                rounded-2 p-1 ps-3 border border-1 border-info-subtle") }}
              </div>

              {# bouton valider #}
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{ signup_form.submit(class_="btn-valider btn rounded-1 border-2 active text-info fs-5
                fw-semibold px-4 py-2 mt-5") }}
              </div>
            </form>
          </div>
        </div>
      </div> <!--- fin formulaire de connexion a cette div -->
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
    <div class="d-flex row align-items-md-stretch" id="all-widgets">


      {% for r in rooms %}
      {{room_widget(r.name, r.description, r.url_name)}}
      {% endfor %}

      <div class="col-md-6 p-3" id="liste-room">
        <div class="{{config.BACKGROUND_BLOCK}} h-100 p-5 rounded-3 {{config.TEXT_COLOR_BLOCK}}">
          <h2>Liste Rooms</h2>
          <p>liste de toutes les rooms</p>
          <a href="/liste_rooms" class="btn rounded-1 border-2 active text-info fw-semibold px-4 py-2 mt-5"
            role="button">Lancer</a>
        </div>
      </div>

      <div class="col-md-6 p-3" id="utilisation">
        <div class="{{config.BACKGROUND_BLOCK}} h-100 p-5 rounded-3 {{config.TEXT_COLOR_BLOCK}}">
          <h2>Utilisation Générale</h2>
          <p>Utilisation des rooms et des machines virtuelles</p>
          <a href="/utilisation" class="btn rounded-1 border-2 active text-info fw-semibold px-4 py-2 mt-5"
            role="button">Lancer</a>
        </div>
      </div>

    </div>

    {% endif %}
  </div>
</main>


<script>
  const driver = new Driver({
    stageBackground: 'grey'
  });
  // Define the steps for introduction
  driver.defineSteps([
    {
      element: '#signup-form',
      popover: {
        title: "Inscription",
        description: "Avant de continuer, tu doit te créer un compte!",
        position: 'left'
      }
    },
    {
      element: '#btn-login',
      popover: {
        title: "Connexion",
        description: "Tu peut aussi te connecter si tu a déja un compte!",
        position: 'left'
      }
    },
    {
      element: '.room-widget-class',
      popover: {
        title: "Rooms",
        description: "Différentes rooms sont disponible, lance les pour apprendres de nouvelles compétences!",
        position: 'top'
      }
    },
    {
      element: '#liste-room',
      popover: {
        title: "Liste room",
        description: "Tu trouvera ici la liste de toutes le rooms",
        position: 'top'
      }
    },
    {
      element: '#utilisation',
      popover: {
        title: "Utilisation",
        description: "Des l'aide supplémentaire expliquant comment réaliser quelques tâches courantes sur le site.",
        position: 'top'
      }
    },
  ]);
</script>
{% endblock %}