{% extends 'base.jinja' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/style/user_information.css">
{% endblock %}


{% block title %}
{{super()}} - Classement
{% endblock %}

{% block content %}
<main class="container pt-5">
    <div class="container-index">

        {# partie gauche / classement #}
        <!-- on affiche que 3 users dans CE classement et l'user concerné est TOUJOURS au milieu -->
        <div class="classement col">
            <div class="classement-header">
                <h1 class="big-title">
                    <img class="img-classement" src="/static/img/podium.svg"
                        alt="logo de le section challenges réussis">
                    <span>&nbsp;Classement</span>
                </h1>
                <span>{{nbr_user}} utilisateurs</span><!-- enlever le comtpe admin du compte ? -->
            </div>
            <hr>

            <table class="table-classement-profile">
                <!-- HEADER TABLE-->
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Avatar</th> <!-- vraiment utile ???????? -->
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>

                <!-- BODY TABLE-->
                <tbody>
                    {% for user in user %}
                    {% if user.id == current_user.id %}
                    <!-- rose si l'user qui consulte est connecté -->
                    <tr class="active-row">
                        <th># {{ loop.index }}</th>
                        <td><img class="img-avatar-classement"
                                src="{{url_for('main.profile_picture', username=user.username)}}"></td>
                        <td class="username-classement-style">
                            <a href="{{url_for('main.profile', username=user.username)}}">{{user.username|e}}</a>
                        </td>
                        <td class="td-score">{{user.score|e}}
                    </tr>
                    {% else %}
                    <!-- les autres sont affichés en vert/bleu -->
                    <tr class="lambda-row">
                        <th># {{ loop.index }}</th>
                        <td>
                            <img class="img-avatar-classement"
                                src="{{url_for('main.profile_picture', username=user.username)}}">
                        </td>
                        <td class="username-classement-style">
                            <a href="{{url_for('main.profile', username=user.username)}}">{{user.username|e}}</a>
                        </td>
                        <td class="td-score">{{user.score|e}}
                    </tr>
                    {% endif %}
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>

    {% endblock %}