{% extends 'base.jinja' %}

{% block title %}
{{ super() }} - Conditions Générales d'Utilisation
{% endblock %}

{% block content %}
<div class="container text-light">
    {{lipsum()}}
</div>
{% endblock %}