{% extends 'base.jinja' %}
{# recup url du site #}
{# {{ url_for(request.endpoint) }} #}
{% from 'macros/_acceuil.jinja' import room_widget with context %}

{% block title %}
{{ super() }} - Accueil
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<main class="container bg-transparent pt-3">
    <div class="container-index row">
        <div class="d-flex row align-items-md-stretch">
            {% for r in rooms %}
            {{room_widget(r.name, r.description, r.url_name, 6)}}
            {% endfor %}
        </div>
    </div>
</main>
{% endif %}

{% endblock %}