{% extends 'base.jinja' %}
{# recup url du site #}
{# {{ url_for(request.endpoint) }} #}
{% from 'macros/_acceuil.jinja' import room_widget %}

{% block title %}
{{ super() }} - Accueil
{% endblock %}

{% block content %}
<main class="container bg-black pt-5">
  <div class="container-index row">
    <!-- partie gauche avec logo + texte -->
    <div class="index-left-part col text-center pb-5">
      <img src="/static/img/logo_rootme.svg" alt="logo Root Me" class="logo-rootme-large">
      <h1 class="text-white fs-2 fw-normal">Une plateforme rapide, accessible et réaliste pour tester vos compétences en
        hacking.
      </h1>
      <h3 class="text-info fs-3 fw-normal m-0">la root est longue mais la voie est Libre</h3>
    </div>

    <!-- partie droite avec formulaire d'inscription -->
    {% if not current_user.is_authenticated %}
    <div class="index-right-part modal modal-signin position-static d-block bg-black col " tabindex="-1" role="dialog"
      id="modalSignin">
      <div class="modal-dialog" role="document">
        <div class="modal-content rounded-2 bg-dark">
          <div class="modal-header px-4 pb-0 border-bottom-0">
            <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
            <h1 class="text-white">
              &nbsp;S'inscrire
            </h1>
          </div>

          <div class="modal-body p-5 px-4 pt-0">

            <form method="POST" action="{{ url_for('inscription') }}">
              {# Token CSRF #}
              {{ signup_form.csrf_token }}

              <!-- NOM UTILISATEUR / PSEUDO -->
              <div class="mb-3 col-12">
                <label for="username"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.username.label}}</label>
                {{ signup_form.username(class_="input-login-username form-control text-white bg-black rounded-2 p-1 ps-3
                border border-1 border-info-subtle") }}
              </div>

              <!-- Email -->
              <div class="mb-3 col-12">
                <label for="email"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.email.label}}</label>
                {{ signup_form.email(class_="input-login-username form-control text-white bg-black rounded-2 p-1 ps-3
                border border-1 border-info-subtle") }}
              </div>

              <!-- PASSWORD -->
              <div class="mb-3 col-12">
                <label for="password"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.password.label}}</label>
                {{ signup_form.password(class_="input-login-password form-control text-white bg-black rounded-2 p-1 ps-3
                border border-1 border-info-subtle") }}
              </div>

              <!-- PASSWORD CONFIRMATION -->
              <div class="mb-3 col-12">
                <label for="password"
                  class="form-label text-white fw-semibold ms-1 fs-5">{{signup_form.password_confirmation.label}}</label>
                {{ signup_form.password_confirmation(class_="input-login-password form-control text-white bg-black
                rounded-2 p-1 ps-3 border border-1 border-info-subtle") }}
              </div>

              {# bouton valider #}
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {{ signup_form.submit(class_="btn-valider btn rounded-1 border-2 active text-info fs-5
                fw-semibold px-4 py-2 mt-5") }}
              </div>
            </form>
          </div>
        </div>
      </div> <!--- fin formulaire de connexion a cette div -->
    </div>
    {% endif %}
  </div>

  {# <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">lorem ipsum dolor sit amet</h1>
        <p class="col-md-8 fs-4">lorem ipsum dolor sit amet</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
      </div>
    </div> #}

    <div class="d-flex row align-items-md-stretch">

      {{room_widget("Room 1", "lorem ipsum dolor sit amet", "room1")}}
      {{room_widget("Room 2", "lorem ipsum dolor sit amet", "room2")}}
      {{room_widget("Mr Robot", "Une simulation hacker", "mr_robot")}}
      {{room_widget("Desu wa", "Wow j'adore sylphyn", "desuwa")}}
      {{room_widget("Mr robot 2", "incroyable", "mr_robot_2")}}

    </div>

    {# <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>lorem ipsum dolor sit amet</h2>
        <p>lorem ipsum dolor sit amet</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light rounded-3">
        <h2>lorem ipsum dolor sit amet</h2>
        <p>lorem ipsum dolor sit amet</p>
        <button class="btn btn-outline-secondary" type="button">Example button</button>
      </div>
    </div>
  </div>
  </div> #}
  {% endblock %}