{% extends 'base.jinja' %}


{% block title %}
Profile - {{current_user.username}}
{% endblock %}

{% block content %}
<main class="container bg-black pt-5">
    <div class="container-index">

        <div class="admin-dashboard">

        </div>

    </div>
</main>
{% endblock %}