</main>
</body>
<footer class="bg-black container-fluid pt-3 align-items-start">
    <div class="d-flex justify-content-center">
        <img class="logo-rootme" src="../static/img/logo_rootme.svg" alt="logo root-me.org" itemprop=image>
    </div>
    <ul class="nav justify-content-center">
        <li class="nav-item"><a href="#"
                class="nav-link px-2 text-muted text-secondary-emphasis fs-6">Confidentialité</a></li>
        <!-- <li class="nav-item ">&nbsp;|</li> -->
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary-emphasis fs-6">Mentions Légales</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary-emphasis fs-6">Conditions Générales
                d'Utilisation</a></li>
    </ul>
    <p class="text-center p-0 m-0 text-white fs-6">Root Me : plateforme d’apprentissage dédiée au Hacking et à la
        Sécurité de l’Information</p>
    <p class="text-center border-bottom border-secondary pb-3 mb-3 text-white fs-6">© 2010 - 2023</p>

    <ul class="nav justify-content-center">
        <li class="nav-item px-3">
            <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fwww.root-me.org%2F&region=follow_link&screen_name=rootme_org&tw_p=followbutton"
                class="nav-link px-2">
                <img src="./static/img/social_network/twitter.svg" alt="logo Twitter">
            </a>
        </li>
        <li class="nav-item px-3">
            <a href="https://www.linkedin.com/groups/Root-Me-hacking-and-information-8180601" class="nav-link px-2">
                <img src="./static/img/social_network/linkedin.svg" alt="logo LinkedIn">
            </a>
        </li>
        <li class="nav-item px-3">
            <a href="https://www.root-me.org/?page=flux_rss&lang=fr" class="nav-link px-2">
                <img src="./static/img/social_network/rss.svg" alt="logo Flux RSS">
            </a>
        </li>
        <li class="nav-item px-3">
            <a href="https://discord.gg/XejsBJdUch" class="nav-link px-2">
                <img src="./static/img/social_network/discord.svg" alt="logo Discord">
            </a>
        </li>
    </ul>

</footer>

</html>