{% extends 'base.jinja' %}
{% from 'macros/_room.jinja' import question_widget %}

{# Variables pour plus tard #}
{% set user_is_in_room = current_user in room.users %}
{# {% set nbr_question_solved = sum(q.is_solved_by(current_user) for q in room.questions) %} #}
{% set nbr_question_total = room.questions | length %}

{% block title %}
{{ super() }} - {{room.name}}
{% endblock %}

{% block head %}
{{super()}}
<script src="{{url_for('static', filename='script/room.js')}}"></script>

<script>
    function answerQuestion(question_id) {
        // On récupère la réponse actuelle
        let answer_field = document.getElementById(`question_answer-${question_id}`)
        answer = answer_field.value
        let answer_form = document.getElementById(`question_form-${question_id}`)

        const response = fetch('{{ url_for('api.answer_question') }}?' + new URLSearchParams({
            question_id: question_id,
            answer: answer,
        }),
            {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
            //.then(response => alert(JSON.stringify(response)))
            .then(response => {
                if (response.success) {
                    if (response.correct) {
                        //answer_form.submit()
                        document.location.reload(false)
                    }
                    else {
                        alert("Réponse incorrecte!")
                    }
                }
                else {
                    alert(response.message)
                }
            })
    }
</script>
{% endblock %}

{% block content %}
<main>
    <div class="row" style="max-width:100%">
        <div class="col-sm-5">
            {# Si l'utilisateur n'est pas dans la room, on lui propose de la rejoindre #}
            {% if not user_is_in_room %}
            <div class="align-item-top">
                {#
                <a href="{{ url_for('api.join_room', room_url_name=room.url_name) }}"
                    class="btn text-success rounded-1 border-2 active fw-semibold m-2" role="button">Rejoindre
                    la room
                </a>
                #}

                <script>
                    function joinRoom() {
                        fetch('{{ url_for('api.join_room', room_url_name = room.url_name) }}', {
                            method: 'POST',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                        })
                            .then(response => response.json())
                            .then(response => alert(JSON.stringify(response)))
                    }
                </script>

                <button type="submit" name="submit_param" value="submit_value" onclick="joinRoom();"
                    class="btn text-success rounded-1 border-2 active fw-semibold m-2" role="button">Rejoindre
                    la room
                </button>
            </div>
            {% endif %}

            <div class="p-2">
                <div class="bg-white rounded-3 p-4">
                    {{ room.instructions | markdown }}
                </div>
            </div>

            <!-- Questions -->
            {% for q in room.questions %}
            {{ question_widget(q, disabled=(q.is_solved_by(current_user) or not user_is_in_room),
            solved=q.is_solved_by(current_user))}}
            {% endfor %}

        </div>

        <div class="col-sm-7 p-0 mt-2">
            <div class="container p-0" style="position:sticky; top:5%;">
                <!-- Progression -->
                <div class="bg-white rounded-3 p-4 mb-4">
                    <p><strong>Progression:</strong> {{nbr_question_solved}}/{{nbr_question_total}}</p>
                    <div class="progress">
                        <div class="progress-bar {{'bg-success progress-bar-striped progress-bar-animated' if nbr_question_solved == nbr_question_total else ''}}"
                            aria-valuenow="{{nbr_question_solved}}" aria-valuemin="0"
                            aria-valuemax="{{nbr_question_total}}"
                            style="width: {{ (nbr_question_solved/nbr_question_total*100)|round|int }}%"></div>
                    </div>
                </div>
                <!-- VM -->
                <iframe class="responsive-iframe " style="width: 100% height: 100%;"
                    src="http://172.17.50.249:6080/vnc.html?host=172.17.50.249&port=6080&autoconnect=true&resize=scale">
                </iframe>
            </div>
        </div>

    </div>

</main>
{% endblock %}