{% macro question_widget(question, disabled=false, solved=false) -%}
<div class="p-2">
    <!-- si la question est résolu, ajouter une bordure verte -->
    <div class="position-relative p-3 bg-light rounded-3 text-black {{'border border-success border-5' if solved else ''}}"
        id="question_block-{{question.id}}">
        {% if current_user.is_authenticated and current_user.is_admin %}
        {# button edit #}
        <div class="position-absolute bottom-0 end-0 m-3 border-2">
            <button type="button" class="btn btn-outline-secondary"
                onclick="toggleQuestionEditMode({{question.id}}, true);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                    viewBox="0 0 16 16">
                    <path
                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z">
                    </path>
                </svg>
                Modifier
            </button>
            <button type="button" class="btn btn-outline-danger" onclick="deleteQuestion({{question.id}});">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z">
                    </path>
                    <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z">
                    </path>
                </svg>
                Supprimer
            </button>
        </div>
        {% endif %}

        <div class="position-absolute top-0 end-0 m-3 question-widget-points">
            <p class="fst-italic fw-normal">{{ question.points }} points</p>
        </div>
        <div class="question-prompt">{{ question.prompt | markdown }}</div>
        {% if current_user.is_authenticated and current_user.is_admin %}
        <div class="question-prompt-edit mb-2" style="display: none;">
            <textarea class="w-100 form-control border-0"
                rows="{{question.prompt.split('\n') | count}}">{{ question.prompt }}</textarea>
        </div>
        {% endif %}
        <div>
            <form action="" onsubmit="answerQuestion({{question.id}});return false;" id="question_form-{{question.id}}">
                <input class="form-control border-0" type="text"
                    placeholder="{{question.answer if solved else 'Réponse'}}" aria-label="input example"
                    id="question_answer-{{question.id}}" required="required" autocomplete="off" {{ 'disabled' if
                    disabled else '' }}>
                <button type="submit" class="btn rounded-1 border-2 active text-info fw-semibold m-2" role="button"
                    {{ 'disabled' if disabled else '' }}>Valider</button>
            </form>
            {% if current_user.is_authenticated and current_user.is_admin %}
            <div id="question-form-edit-{{question.id}}" style="display: none;">
                <div class="row">
                    <div class="col">
                        <input class="form-control border-0 question-answer-edit" type="text" placeholder="Réponse"
                            aria-label="input example" required="required" autocomplete="off"
                            value="{{question.answer}}">
                    </div>
                    <div class="col-1">
                        <input class="form-control border-0 question-points-edit" type="text" placeholder="points"
                            aria-label="input example" required="required" autocomplete="off"
                            value="{{question.points}}">
                    </div>
                </div>
                <input type="button" class="btn rounded-1 border-2 active text-info fw-semibold m-2" role="button"
                    onclick="saveQuestion({{question.id}})" value="Enregistrer les modifications">
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro progress_bar(nbr_question_solved, nbr_question_total) -%}
{% if nbr_question_total == 0 %}
{% set progress_percentage = 0 %}
{% else %}
{% set progress_percentage = (nbr_question_solved / nbr_question_total*100)|round|int %}
{% endif %}
<div class="bg-white rounded-3 p-4 justify-content-center border border-2 border-primary mb-0">
    <div class="row">
        <div class="col">
            <p><strong>Progression:</strong> {{nbr_question_solved}}/{{nbr_question_total}}</p>
            <div class="progress">
                <div class="progress-bar {{'bg-success progress-bar-striped progress-bar-animated' if nbr_question_solved == nbr_question_total else ''}}"
                    aria-valuenow="{{nbr_question_solved}}" aria-valuemin="0" aria-valuemax="{{nbr_question_total}}"
                    style="width: {{ progress_percentage }}%">
                </div>
            </div>
        </div>
        <!-- button SUPPRIMER VM ----- call :  deleteVms() -->
        <div class="col-md-auto delete-vms-button-container" style="display: none;">
            <button type="submit" name="submit_param" value="submit_value" onclick="deleteVms();"
                class="btn text-danger rounded-1 border-2 active fw-semibold m-2 align-self-end delete-vms-button"
                role="button">Supprimer les VMs
            </button>
        </div>
    </div>
</div>
{% endmacro %}

{% macro edit_room_input(id, name, value, multiline=False, placeholder=none, required=true) %}
<div class="mb-3">
    <label for="{{id}}" class="form-label">{{name}}</label>
    {% if multiline %}
    {% set line_count = value.split('\n') | count %}
    <textarea class="form-control border-0" placeholder="{{placeholder if placeholder is not none else name}}"
        autocomplete="off" id="{{id}}" rows="{{line_count + 1}}" {{"required" if required else ""
        }}>{{value}}</textarea>
    {% else %}
    <input class=" form-control border-0" type="text" placeholder="{{placeholder if placeholder is not none else name}}"
        autocomplete="off" id="{{id}}" value="{{value}}" {{"required" if required else "" }}>
    {% endif %}
</div>
{% endmacro %}